.features-list {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin: 120px 141px;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: NAVY BLUE;
}

.features-text {
    color: NAVY BLUE;
    font-size: 16px;
    letter-spacing: 0.02em;
}