.features-list {
    display: flex;
    gap: 24px;
    list-style: none;
    padding-top: 120px;
    padding-bottom: 120px;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #000080 hwb(240 0% 0%);
}

.features-text {
    color: NAVY BLUE;
    font-size: 16px;
    letter-spacing: 0.02em;
}