.footer {
    background-color: #2e2f42;
}

.footer .logo {
    color: #f4f4fd;
}

.logo-footer
{
    display: block;
    width: 264px;
    padding: 100px 0;
    margin-left: 141px;
}

.footer-text{
    display: flex;
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    justify-content: space-between;
}


