.header .container {
   display: flex;
  }

.container {
   display: flex;
   width: 1158px;
   margin: 0 auto;
   align-items: center;
   justify-content: space-between;
}

.header a:focus,
.header a:hover {
    color: red;
}


.logo {
    text-decoration: none;
    color: #2E2F42;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    padding-left: 15px;
}

.logo span {
    color: #4d5ae5;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    font-weight: bold;
}

.nav-list a {
    color: #2E2F42;
    text-decoration: none;
}


.contacts-list {
    display: flex;
    font-style: normal;
    list-style: none;
    justify-content: space-around;
    gap: 40px;
}

.contacts-list a
{
    color: #2E2F42;
    text-decoration: none;
    font-style: normal;
}


