.hero {
    background-color: #2e2f42;
    padding: 120px 0;
}

.hero .container {
    display: block;
    width: 1158px;
    height: 224px;
    padding-top: 60px;
    display: flex;
}

.hero-title {
    display: block;
    width: 496px;
    color: #ffffff;
    font-size: 56px;
    letter-spacing: 0.02;
    margin: 0 auto;
    margin-bottom: 48px;
    text-align: center;
    
}

.hero-button {
    display: block;
    background-color: #4D5AE5;
    text-align: center;
    color: #ffffff; 
    font-weight: 500;
    font-size: 16px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
}




 